html {
  font-size: 10px;
}
.appcontainer {
  width: 100vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background: rgb(240, 149, 149);
  padding: 10px;
}
.footer_icons {
  background: cornflowerblue;
  border-radius: 30px;
}

@media (max-width: 400px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 68%;
  }
}
