footer {
  background-color: rgb(128, 128, 129);
  width: 100vw;
  height: fit-content;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.footer-icons1 {
  margin-top: 1.5vh;
}
.footer-icons1 a {
  text-decoration: none;
  margin-left: 2vw;
}
.footer-icons1 a i {
  font-size: 5vh;
  padding: 0.7vh;
  margin: 3vh 0;
  border-radius: 2vh;
}
.footer-icons1 a i:hover {
  color: #c4cefd;
}
.footer-icons1 #ic4,
.footer-icons1 #ic1,
#ic2,
#ic3 {
  color: rgb(243, 242, 242);
}
.footer div.footer-icons2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer div.footer-icons2 a:nth-child(3) {
  text-align: center;
}
.footer div.footer-icons2 #ic5 {
  color: rgb(0, 0, 0);
  font-size: 5vh;
  padding: 0.5vh;
  font-size: 1em;
  text-decoration: none;
}
.footer div.footer-icons2 #ic6 {
  color: black;
}
.footer div.footer-icons2 #ic6,
.footer div.footer-icons2 #ic7 {
  text-decoration: none;
}
.footer-icons2 {
  margin-bottom: 2vh;
}
.credits {
  border-bottom: 1px solid black;
  padding: 0 0 3vh 0;
}
.credits,
.footer-3 {
  text-align: center;
}
.footer-3 {
  padding: 2vh 0;
}
